<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/cabecera :: header">
</head>
<body>
	<div class="container-fluid">
		<header th:replace="public/principiobody :: principiobody"></header>
		<nav th:replace="public/navbarusuario :: navegadorusuario"></nav>
		<div class="table-responsive">
			<table id="tablafacturausuarios" class="display">
				<thead>
					<tr>
						<th>fecha</th>
						<th>importe</th>
						<th>pagada</th>
						<th>coche</th>
						<th>enlace</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>fecha</th>
						<th>importe</th>
						<th>pagada</th>
						<th>coche</th>
						<th>enlace</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<div th:replace="public/pie :: footer"></div>
	</div>
	<script src="/js/datatable.js"></script>
</body>
</html>